.site-wrapper-inner {
    padding-top: 30px;
}

#company-results {
    width: 700px;
    margin: auto;
    text-align: left;
    margin-top: 50px;
}

.title-recommend {
    margin-left: 7px;
}

#company-sort {
  float:left;
  width: 15%;
  text-align: left;
  margin-left: 15%;
}


#company-sort a, a:active, a:focus {
    outline: medium none;
}
#company-sort a, a:focus, a:hover {
    color: #000;
}
#company-sort a {
    color: #000;
    text-decoration: underline;
}
#company-sort a {
    background-color: transparent;
}


#companies {
  text-align: center;
  /*margin-top: 30px;*/
  float:left;
  padding-top: 80px;
  position:relative;
  overflow-y: scroll;
  height: 100%;
  z-index: 1;
  text-shadow: none;
  margin: 0 2%;
}

.rating-icon {
    font-size: 12pt;
}

.rating {
  font-size: 12pt;
  margin-left: 10px;
}

.company-box {
  margin-bottom: 40px;
  padding-bottom: 15px;
  width: 280px;
  float: left;
  border: 1px solid #f8f2f8;
  margin-right: 20px;
}

.company-header {
    background-color: #f8f2f8;
    padding: 5px;
}

.company-logo {
  width: 25px;
  height: 25px;
  margin-top: -10px;
  margin-right: 7px;
}

.company-name {
    font-size: 18pt;
}

.company table {
  width: 97%;
  margin-left: 3%;
  border-left: 1px solid white;
  margin-top: 10px;
}

#companies a, a:hover, a:focus{
    text-decoration:none;  
}

.title-icon {
  margin: 10px 0 0 0;
  border-radius: 15px;
  padding: 5px;
  color: #fff
}

.title-icon-none {
  background-color: #e3e3e3;
  color: #000;
}

.positions {
    margin-top: -10px;
    margin-bottom: 5px;
}

.position {
    /*background-color: #FFE0E0;*/
    background-color: #CCFFFF;
    padding: 3px;
    color: #000;
    font-size: 9pt;
    margin: 5px 0;
}

.location {
    /*background-color: #f2f2f2;*/
    background-color: #E6FFB2;
    padding: 3px;
    color: #000;
    font-size: 9pt;
    margin: 5px 0;
}

.num-reviews {
    font-weight: bold;
}

.num-review {
    /*background-color: #E6FFB2;*/
    padding: 3px;
    color: #000;
    font-size: 9pt;
    margin: 5px 0;
}

.recommend {
    text-align: center;
}

.title-icon-recommend {
  background-color: orange;
}