#review-btn {
  width: 100px;
  position:fixed;
  top:48px;
  left:89%;
  padding: 3px 0;
  z-index:1;
}

#top-header {
  height: 120px;
}

#title-recommend {
  font-size: 20pt;
}

#title-recommend-icon {
  font-size: 20pt;
  margin-right: 12pt;
}

.company-img {
  width: 200px;
  height: 150px;
  vertical-align: middle;
}


#company-stats {
  float:left;
  width: 100%;
  /*border-bottom:1px solid #e3e3e3;*/
  font-size: 12pt;
  height: 50px;
  background-color: #f8f2f8;
}

#images {
  width: 100%;
}

.img-box {
  overflow: hidden;
  width: 130px;
  height: 130px;
  margin: 10px;
  border: 2px solid #fff
}

.img-left {
  float:left;
}

.img-right {
  float:right;
}

#company-title {
  font-size: 50pt;
  float:left;
  color:#444;
  /*text-shadow: 0 1px 3px rgba(0,0,0,1);*/
}

#company-logo {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
  margin-right: 10px;
}

#company-header {
  padding: 10px 0;
}

#reviews {
  padding-top: 0px;
  width: 100%;
}

.post-date {
  float:right;
  font-size: 10pt;
  color: #b8b8b8;
  text-shadow:none;
  margin-top: 10px;
}

#review-count {
  font-size: 14px;
  font-weight: bold;
}

#reviews hr {
  margin: 0;
}


.review-title {
  margin-top: -10px;
}

.intern-date {
  margin-top: -10px;
}

.review table {
  margin-top: 0px;
}

.title-icon {
  color: #000;
  background-color: #E6FFB2;
}
