/*
 * Globals
 */

/* Links */
.cover-container a,
a:focus,
a:hover {
  color: #fff;
}


/*
 * Base structure
 */
html {
  height: 100%;
}
body {
  /*color: #fff;*/
  color:#000;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.1);
  background-color: rgba(0, 0, 0, 0);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  /*
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          */
}
/*
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
*/
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 10px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 5px;
  margin-bottom: 0px;
  color:#fff;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  /*color: #333; */
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,0.75);
  /*border-bottom-color: #888; */
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

footer {
  color: #b8b8b8;
  text-shadow:none;
  margin-top: 20px;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
    z-index: 3;
    /*background-color: #333;*/
    padding: 0 2%;
    background-color: #FF6600;
    background-color: black;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    /*vertical-align: middle;*/
    padding-top: 200px;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
  width: 100%;
  }
}

#search-box {
  text-align:center;
  margin:auto;
  width: 80%;
}

.search-text {
  margin: 10px;
  font-size: 12pt;
  width: 200px;
}

.search-btn {
  margin:20px;
}

button {
  background: transparent;
  border: none;
}

#hello-pic {
  width: 200px;
  height: 170px;
  position: absolute;
  top: 100px;
  left: 160px;
}

#hello-logo {
  width: 60px;
  height: 46px;
}

.cover-container a, a:active, a:focus {
  outline: none;
}

.inner-body {
  padding: 0 10%;
}

body {
  /*font-family: 'Noto Sans', sans-serif; */
  font-family: 'Muli', sans-serif; 
 /* font-family: 'Crimson Text', serif;*/
}

.fancybox-buttons {
  padding: 10px;
  font-weight: bold;
  color: #000;
  width: 80px;
}

.fancy-cancel {
  background-color: #E6FFB2;
}

.fancy-add {
  background-color: #CCFFFF;
}

html {
  /* http://www.fullhdwpp.com/wp-content/uploads/Geometric-Multicolor_www.FullHDWpp.com_.jpg
  background: url('http://2.bp.blogspot.com/-xmjmQzG1SE8/VC2L9UZNYbI/AAAAAAAAikU/QGO0KFnjANk/s1600/Abstract%2BTriangles%2BWallpapers%2B2.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  */
}
