.site-wrapper-inner {
    padding-top: 150px;
}

.form-group {
    text-align: center;
}

.input-box {
    padding-left: 0;
    text-align: left;
}

.search-group {
    width: 33%;
    float:left;
}

.left {
    float: left;
}

.right {
    float: right;
}

.form-control {
    color: black;
    width: 100%;
    margin: auto;
}

.group-left {
    margin-left: 45%;
}

.group-right {
    margin-right: 45%;
}

body {
    background-color: f8f2f8;
}

