.questions {
    text-align: left;
    width: 50%;
}

.left {
    float: left;
}

.right {
    float: left;
}

form {
    text-align: center;
}

.input-box {
    padding-left: 0;
    text-align: left;
}

.bold {
    font-weight: bold;
}

.input-question {
    margin-top: -6px;
}

textarea {
    width: 90%;
}

#right-col {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    width: 73%;
}

#right-col h1 {
    margin-right: 20px;
}