.site-wrapper-inner {
    padding-top: 50px;
}

.inner-body {
  padding-right: 5%;
  padding-left: 0%;
}

#right-col {
    text-align: left;
    float:right;
    width: 75%;
    margin-right: 0px;
    border-left: 1px solid #e3e3e3;
    padding-left: 20px;
    margin-top: -20px;
    padding-top: 20px;
}

#company-results {
    width: 700px;
    margin: auto;
    text-align: left;
    margin-top: 50px;
}

#job-listings {
    float:left;
    width:24%;
    text-align: left;
    font-size: 9pt;
    padding-top: 15px;
    background-color: #f8f2f8;
    padding-left: 3%;
    padding-right: 3%;
    position: fixed;
    height: 100%;
    text-shadow: none;
}


.job-listings-company {
    font-size: 11pt;
    font-weight: bold;
}

.job-listings-location {
    color: #999;
}

.job-listings-job {
    
}

#top-header {
    position: fixed;
    background-color: #fff;
    width: 70%;
    z-index: 2;
    height: 70px;
    border-bottom: 1px solid #e3e3e3;
}

#page-header {
    padding: 0 20px;
    margin-top: 25px;
    float:left;
    font-size: 13pt;
    font-weight: bold;
}

#review-sort {
  float:right;
  text-align: left;
  margin-top: 30px;
  padding: 0 20px;
  font-size: 9pt;
}

#review-sort input {
    font-size: 10pt;
}


#review-sort a, a:active, a:focus {
    outline: medium none;
}
#review-sort a, a:focus, a:hover {
    color: #000;
}
#review-sort a {
    color: #000;
    text-decoration: underline;
}
#review-sort a {
    background-color: transparent;
}

.sort-by {
}

.sort-by-type {
    margin-left: 10px;
}


#reviews {
  text-align: left;
  /*margin-top: 30px;*/
  float:left;
  padding-top: 80px;
  position:relative;
  overflow-y: scroll;
  height: 100%;
  z-index: 1;
  text-shadow: none;
}

.top-review-row {
    background-color: #f8f2f8;
}

.company-logo {
  width: 35px;
  height: 35px;
  margin: -15px 0px 0 10px;
}

.company-name {
    font-size: 26pt;
    margin-left: 10px;
}

.title-recommend {
    margin-left: 7px;
}


.review-title {
  font-size: 11pt;
  float: left;
  color: orange;
}

.review {
  margin-bottom: 30px;
}

.review-icon {
  font-size: 13pt;
  padding: 6pt;
  color: #000;
  margin-top: 7px;
}

.title-icon {
  margin: 5px 5px 0 20px;
  border-radius: 20px;
  padding: 10px;
  color: #fff; 
}

.pos-review-rating {
  background-color: #8AE62E;
}


.neg-review-rating {
  opacity: 0.3;
  background-color: #999;
}

.title-icon-recommend {
  background-color: #CCFFFF;
  margin-right: 10px;
}

.title-icon-fair {
  background-color: #CCFFFF;/*blue*/
}

.title-icon-pay {
  background-color: #CCFFFF; /*red*/
}

.title-icon-work {
  background-color: #CCFFFF; /*#FF0066*/
}


.review table {
  width: 97%;
  padding: 0 3%;
  margin-top: 10px;
}


.review th,td {
  padding: 5px 10px;
}

.pros-table-col {
    border-right: 1px solid #e3e3e3
}

.cons-table-col {
    padding-left:10px;
}

.pro-tr {
    padding-right: 10px;
}

.pro {
    font-size: 13pt;
    font-weight: bold;
    text-align: left;
}

.pro-text {
    /*background-color: #FF5050;*/
    background-color: #CCFFFF;
    padding: 3px;
    
}

.con-text {
    /*background-color: #3399FF;*/
    background-color: #E6FFB2;
    padding: 3px;
}

.intern-date {
  float:left;
}

.post-date {
  float:right;
  font-size: 10pt;
  color: #b8b8b8;
  text-shadow:none;
  margin-top: -10px;
}

.clear {
  clear:both
}

#reviews a, a:hover, a:focus{
    text-decoration:none;
    outline: none;
}



